<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Emilia Cole</title>
  </head>
  <body>
      <h1>Home | Emilia Cole</h1>
  </body>

 <!--  <body>
    <header id="inicio">
      <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/music">Music</a></li>
        </ul>
      </nav>
      
    </header>
    <main>
        <header>
            <nav>
                <ul>
                    <li><a href="#destacados">Ir a Destacados</a></li>
                  </ul>
              </nav>
        </header>
      <h1>Mi sitio</h1>

      <img width="300" src="/images/emilia-home.jpg" alt="" />

      <section>
        <h2>Ofertas</h2>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            sed ipsam ea dolor quam voluptatem veniam culpa assumenda? Eaque,
            mollitia hic. Ducimus reprehenderit vel alias delectus officiis
            inventore nam labore.
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            et molestiae cumque cupiditate autem facilis natus maiores corporis
            repellat, necessitatibus obcaecati ea expedita dolore nemo animi
            facere dicta dignissimos rerum!
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            sed ipsam ea dolor quam voluptatem veniam culpa assumenda? Eaque,
            mollitia hic. Ducimus reprehenderit vel alias delectus officiis
            inventore nam labore.
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            et molestiae cumque cupiditate autem facilis natus maiores corporis
            repellat, necessitatibus obcaecati ea expedita dolore nemo animi
            facere dicta dignissimos rerum!
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            sed ipsam ea dolor quam voluptatem veniam culpa assumenda? Eaque,
            mollitia hic. Ducimus reprehenderit vel alias delectus officiis
            inventore nam labore.
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            et molestiae cumque cupiditate autem facilis natus maiores corporis
            repellat, necessitatibus obcaecati ea expedita dolore nemo animi
            facere dicta dignissimos rerum!
          </p>
        </article>
      </section>

      <section id="destacados">
        <h2>Destacados</h2>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugit
            officia iusto expedita necessitatibus a et ad quaerat in
            exercitationem aliquam iste nisi, est beatae nulla eos unde
            reiciendis repellat.
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto
            aut reprehenderit debitis quasi nulla voluptas adipisci. Aspernatur,
            dicta, laudantium expedita illo quo temporibus accusamus culpa animi
            mollitia veniam inventore architecto!
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugit
            officia iusto expedita necessitatibus a et ad quaerat in
            exercitationem aliquam iste nisi, est beatae nulla eos unde
            reiciendis repellat.
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto
            aut reprehenderit debitis quasi nulla voluptas adipisci. Aspernatur,
            dicta, laudantium expedita illo quo temporibus accusamus culpa animi
            mollitia veniam inventore architecto!
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
            commodi quas, provident eius voluptas maxime tenetur, veritatis
            tempore autem sapiente ullam consequuntur libero cupiditate, alias
            itaque quibusdam beatae saepe earum quam voluptate nisi. Illum sed
            non perspiciatis dolorum in, deserunt sequi a amet ad! Pariatur sunt
            similique quasi culpa recusandae, sapiente dicta hic, ullam quam
            consequuntur tempora dignissimos cupiditate eos fugit nesciunt
            perspiciatis vitae cum asperiores alias fuga odio at amet illum?
            Harum sit explicabo ut quae doloribus iure quisquam, eaque,
            quibusdam tempore odit, suscipit incidunt asperiores! Aliquam,
            perspiciatis aut veniam unde, earum quidem labore saepe animi totam
            incidunt cum neque repellendus adipisci sunt commodi aliquid
            accusamus eligendi. Ad neque voluptatibus deserunt ullam aut magnam
            quam veritatis libero sequi labore consequuntur possimus obcaecati,
            impedit et quibusdam ratione at sapiente quasi aperiam quos, amet
            doloremque non. Mollitia earum veritatis sequi deserunt non nam
            dolor laboriosam amet a officiis nemo incidunt et aperiam
            accusantium similique voluptate cumque ipsum totam ducimus,
            cupiditate dignissimos voluptatum. Pariatur dolorem quis expedita
            saepe, magnam veniam excepturi architecto natus asperiores incidunt
            ea id possimus tempore fugit aspernatur dolor. Laborum dolores iste
            nemo quisquam sit excepturi repudiandae dicta, tempora at
            necessitatibus possimus cumque rerum ullam, nesciunt quas sapiente
            repellat molestias neque esse nostrum est quae quasi labore
            voluptate! Sit ratione asperiores quis sapiente laborum ducimus
            tempora officiis? Provident voluptate sapiente expedita molestiae
            modi laboriosam voluptas, error aspernatur aperiam laborum deleniti
            beatae eos! Doloremque ut libero odit culpa vitae sed omnis vel
            sequi, adipisci molestias eligendi dolorum dolores, alias pariatur
            voluptatibus ea corrupti voluptatem ipsum distinctio hic id. Impedit
            deleniti corporis dolorum nulla ducimus provident nobis porro odit
            aliquam molestias architecto atque fugiat inventore autem sunt
            obcaecati quis, praesentium optio dicta, dignissimos quo
            perferendis! Omnis perspiciatis fugiat sit a culpa reprehenderit.
            Vitae officiis, consequatur beatae illo voluptate id quis distinctio
            quod facilis laboriosam accusamus dolore, enim temporibus, ullam
            corrupti debitis. Nemo voluptatum nulla reiciendis sunt? Minima
            dicta sint a! Suscipit quasi nulla consequatur beatae cupiditate
            aspernatur voluptatibus odio fuga quis, voluptas, error, doloribus
            architecto rerum aliquam dolor obcaecati! Accusantium laboriosam
            tenetur, reprehenderit libero, quis ipsa tempora veniam quaerat
            minus exercitationem, odit inventore nesciunt dolor optio accusamus
            enim veritatis nostrum aut dignissimos necessitatibus ducimus ex
            deleniti magni. Veniam similique quisquam eaque tenetur in commodi
            illo, quos fugiat. Aliquid ab aut esse repellendus vel mollitia
            veniam quos vero tenetur, commodi pariatur quasi impedit. Tempora
            eligendi ratione quasi culpa, unde deserunt voluptates. Cum ducimus
            eos natus asperiores perferendis ipsum fugit quas. Sed itaque unde
            exercitationem autem. Nulla itaque delectus, sapiente sequi, laborum
            fuga cupiditate tempora ipsa voluptate obcaecati alias sint officia
            vitae culpa quaerat rem praesentium cum provident repudiandae
            molestias aut aspernatur aliquam natus? Alias quaerat totam, a quasi
            error dignissimos deserunt doloribus. Dicta iste dignissimos
            possimus libero quae neque quas pariatur ad mollitia temporibus
            atque omnis ipsa beatae illo sequi quo, ea labore et quod explicabo
            assumenda, laborum doloremque maiores! Ex, iste et facere qui
            sapiente ipsa alias. Minus obcaecati consequatur modi doloremque et
            exercitationem quaerat totam, voluptatum, fuga quisquam officia
            distinctio?
          </p>
        </article>
        <a href="">Volver a inicio</a>
      </section>
    </main>
    <footer>
        <section>
            <h5>Enlaces de interés</h5>
            <nav>
              <ul>
                <li>
                  <a href="http://google.com">Ir a Google</a>
                </li>
              </ul>
            </nav>
        </section>
        <section>
            <h5>Contactnos!</h5>
            <nav>
                <ul>
                    <li>
                        <a href="mailto:joelalexandertrinidad@gmail.com">Envianos un mail!</a>
                    </li>
                    <li>
                        
                        <a href="https://wa.me/541165514798">Envianos un whatsapp!</a>
                    </li>
                </ul>
            </nav>
        </section>
    </footer>
  </body> -->
</html>
